*{
    margin:0%;
    padding: 0%;

}
body{
    background-image: url("body1.jpg");
    background-size: 100%;
    color:white;
    font-family: 'mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    justify-content:space-around;
}
nav h1{
    font-size: 50px;
    font-family: 'mulish', sans-serif;
}
nav span{
    color: red;
}
ul button{
    width: 100px;
    height: 50px;
    background-color: rgb(244, 11, 11);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
ul button:hover{
    border:3px solid white;
    background-color: blue;
    cursor: pointer;
    font-size: 20px;
}
ul{
    display: flex;
     list-style: none;
}
ul li a{
    margin-inline: 40px;
    font-size: 25px;
}
ul li a:hover{
    border-bottom: 4px solid green;
    border-radius: 3px;
    cursor: pointer;
    font-size: 27px;
}
.text{
    margin-left: 7%;
    margin-top: 200px;
}
.text h1{
    font-size: 100px;
    font-family: 'mulish', sans-serif;
}
.text p{
    font-size: 27px;
    margin-top:20px;
}
.text button{
    width:240px;
    height:120px;
    background-color:rgb(231, 13,13);
    color: white;
    border: none;
    margin-top: 50px;
    font-size: 50px;
}
.text button:hover{
    border:3px solid white;
    background-color: green;
    cursor: pointer;
}

@media screen and (max-width: 600px){
     text h1{
       width: 25px;
       height: 25px;
       font-size:25px;
     }
}